$term-color: #EFF6FF;

*, *:before, *:after {
  box-sizing:border-box;
}
html {
  background: #000;
}
body {
  font-size:18px;
  line-height: 1.2;
  background: #000 url('img/bg.jpg') no-repeat top center;
  color: #fff;
  margin:0;
  font-family: Courier, monospace, sans-serif;
  animation: fade 5s ease-out;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
template {
  visibility:hidden; /* fallback */
}
.wrap {
  background: url('img/monitor.jpg') no-repeat top left;
  position:relative;
  max-width: 800px;
  height: 600px;
  margin: 0 auto;
  padding: 65px 55px;
}
.terminal {
  width:100%;
  height:100%;
  color: $term-color;
  padding: 1em;
  overflow-y:scroll;
  -webkit-font-smoothing:none;
}
.shell input {
  -webkit-appearance: none;
  background: transparent;
  outline:none;
  border:none;
  color: inherit;
  font-size:1em;
  display:inline-block;
  width:90%;
  font-family: inherit;
  -webkit-font-smoothing:none;
  &:before {
    display:inline;
    content: "$";
  }
}
.shell-ln {
  white-space:pre-wrap;
  margin-left: 0.6em;
  margin-bottom: 0.3em;
}
.spc {
  margin-bottom: 0.6em;
  display:block;
}
.said-command {
  color: $term-color - #555;
}
.note {
  font-family: 'Nothing You Could Do', cursive;
  -webkit-font-smoothing: antialiased;
  position:absolute;
  top:103%;
  right:50%;
  margin-right: -45%;
  background: linear-gradient(to top, #EAE8E0, #F9F7EF);
  color: #000;
  padding: 0.5em;
  width: 90vw;
  max-width:14em;
  min-height: 8em;
  cursor: pointer;
  animation: note 0.3s ease;
  z-index: 9999;
  .note-rm {
    position:relative;
    color: #000;
    text-decoration: none;
    font-size:2em;
    float:right;
    top:-0.5em;
  }
  p {
    margin-bottom: 0;
  }
}
@keyframes note {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.links {
  position:absolute;
  bottom:0;
  right:0;
  padding: 0.5em;
  font-size:0.8em;
  a {
    color: #dad1d2;
  }
}
.install-animation {
  height:1em;
  display:block;
  border: 2px solid;
  position:relative;
  .install-animation-inner {
    position:absolute;
    background: $term-color;
    width:100%;
    height:100%;
    top:0;
    left:0;
    transform-origin: 0 0;
    animation: installer 2s steps(8);
    animation-fill-mode:forwards;
  }
}
@keyframes installer {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

hr {
  border-color: $term-color;
}
::-webkit-scrollbar {
  display:none;
}
::selection {
  background-color: #54F900;
  color: #fff;
}
@media only screen and (min-width: 800px) {
  body {
    padding: 100px 0 0;
  }
}
@media only screen and (min-width: 1200px) {
  .note {
    top:5%;
    left:70%;
    margin:0;
  }
}
