$monitor: #C5B393;
$monitor-light: #F0DBB6;
$monitor-dark: #837661;
$monitor-verydark: #534B3C;

*, *:before, *:after {
  box-sizing:border-box;
}
body {
  font-size:18px;
  line-height: 1.2;
  background: #000 url('bg.jpg') no-repeat top center;
  color: #fff;
  margin:0;
  font-family: Courier, monospace, sans-serif;
}
body.dragging ::selection {
  background-color: transparent;
}
template {
  visibility:hidden; /* fallback */
}
.wrap {
  background: url('monitor.jpg') no-repeat top left;
  position:relative;
  max-width: 800px;
  margin: 0 auto;
  height: 50%;
  padding: 65px 55px;
}
.terminal {
  width:100%;
  height:100%;
  color: #EFF6FF;
  padding: 1em;
  overflow-y:scroll;
}
.shell {
}
.shell input {
  -webkit-appearance: none;
  background: transparent;
  outline:none;
  border:none;
  color: inherit;
  font-size:1em;
  display:inline-block;
  width:90%;
  font-family: inherit;
}
.shell-line {
  white-space:pre-wrap;
  margin-left: 0.6em;
}
.note {
  font-family: 'Nothing You Could Do', cursive;
  position:absolute;
  top:103%;
  right:50%;
  margin-right: -45%;
  background: linear-gradient(to top, #EAE8E0, #F9F7EF);
  color: #000;
  padding: 0.5em;
  width: 90vw;
  max-width:14em;
  min-height: 8em;
  cursor: pointer;
  box-shadow: 8px 8px 0px rgba(0,0,0,0.3);
}
.note .note-remove {
  position:relative;
  color: #000;
  text-decoration: none;
  font-size:2em;
  float:right;
  top:-0.5em;
}
.note p {
  margin-bottom: 0;
}
hr {
  border-color: #46D300;
}
::-webkit-scrollbar {
  display:none;
}
::selection {
  background-color: #54F900;
  color: #fff;
}
@media only screen and (min-width: 800px) {
  .wrap {
    height:600px;
    margin-top: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  .note {
    top:20%;
    right:85%;
    margin:0;
  }
}
